.signup-container {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.content-box {
  align-items: center;
  width: 100%;
}

.order-img {
  width: 397.37px;
  height: 304.38px;
  margin: auto 0;
}

.biz-signup-box {
  background-color: var(--light-blue-bgc);
  width: 619px;
  height: 585px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  margin-left: 40px;
  border-radius: 34px;
}

@media screen and (max-width: 1400px) {
  .title-fSize {
    font-size: 70px;
  }
}
